.quote-author{
    font-weight: 500;
    font-style: italic;
}

.quote-container{
    /* display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: -3.5rem; */
    /* flex-shrink: 0; */
}